.input-forms {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-element {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-weight: 600;
    margin-left: 70px;
}

label {
    font-size: 18px;
    margin-bottom: 5px;
}

input, select {
    height: 25px;
    width: 15%;
    min-width: 250px;
}

.error {
    color: $dark-red;
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
}

.bigerror {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $light-red;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    color: $black;
    width: 100%;
}

p {
    font-size: 18px;
}