body {
    font-family: Calibri,sans-serif; 
    color: $black;
    background: $white;
}

h1 {
    margin-left: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    border-top: 1px solid $black;
    font-size: 12px;
    padding: 20px;
}

.button {
    background-color: $green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
}

.buttons {
    padding: 10px;
}

.cancel {
    background: $red;
}
