ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

li {
    list-style-type: none;
    font-size: 16px;
    margin: 2px;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 2px solid $black;
    margin: 20px;
    padding: 10px;
    width: 200px;
    height: 200px;
}

.checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
}