body {
  font-family: Calibri,sans-serif;
  color: #111827;
  background: #F3F4F6;
}

h1 {
  margin-left: 50px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #111827;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #F3F4F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #111827;
  font-size: 12px;
  padding: 20px;
}

.button {
  background-color: #10B981;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 10px 0px 10px 0px;
  border-radius: 5px;
}

.buttons {
  padding: 10px;
}

.cancel {
  background: #EF4444;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

li {
  list-style-type: none;
  font-size: 16px;
  margin: 2px;
  font-weight: bold;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #111827;
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
}

.input-forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.input-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  font-weight: 600;
  margin-left: 70px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

input, select {
  height: 25px;
  width: 15%;
  min-width: 250px;
}

.error {
  color: #DC2626;
  font-weight: normal;
  font-size: 16px;
  margin-left: 10px;
}

.bigerror {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F87171;
  font-size: 20px;
  font-weight: bold;
  height: 100px;
  color: #111827;
  width: 100%;
}

p {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */